body {
  align-items: center;
  background-image: url("../images/stars.jpg");
  text-align: center;
  cursor: url("basketball.cur"), auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  font-style: italic;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0;
}

p {
  font-size: 2em;
  margin: 0;
  opacity: .95;
  position: absolute;
  top: 60%;
  left: 52%;
  transition: all 0.5s;
  text-shadow: 2px 4px 3px grey;
}

#mwss {
  height: 90%;
  opacity: .15;
  transition: all 1.5s;
}

#mwss:hover {
  opacity: .35;
}
